
@keyframes anim2 {
    0%{
        
    }
    10%{
        
    }
    18%{
        
        transform: rotate(1deg); 
    }
    20%{
        
        transform: rotate(1deg); 
    }
    23%{
        
        transform: rotate(-6deg); 
    }
    26%{
        
        transform: rotate(3deg); 
    }
    27%{
        
        transform: rotate(0deg); 
    }
    36%{
        
        transform: rotate(0deg); 
    }
    37%{
        
        transform: rotate(5deg); 
    }
    40%{
       
        transform: rotate(-3deg); 
    }
    41%{
        
        transform: rotate(0deg); 
    }
    49%{
        
        transform: rotate(0deg); 
    }
    57.5%{
        transform: rotate(-8deg); 
    }
    75%{
        transform: rotate(0deg); 
    }
    85%{
        transform: rotate(8deg); 
    }
    100%{
        transform: rotate(0deg); 
    }
}
@keyframes anim3 {
    0%{
        
    }
    10%{
        
    }
    18%{
        
        transform: rotate(1deg); 
    }
    20%{
        
        transform: rotate(1deg); 
    }
    23%{
        
        transform: rotate(-8deg); 
    }
    26%{
        
        transform: rotate(5deg); 
    }
    27%{
        
        transform: rotate(0deg); 
    }
    36%{
        
        transform: rotate(0deg); 
    }
    37%{
        
        transform: rotate(7deg); 
    }
    40%{
       
        transform: rotate(-5deg); 
    }
    41%{
        
        transform: rotate(0deg); 
    }
    49%{
        
        transform: rotate(0deg); 
    }
    57.5%{
        transform: rotate(-5deg); 
    }
    75%{
        transform: rotate(0deg); 
    }
    85%{
        transform: rotate(5deg); 
    }
    100%{
        transform: rotate(0deg); 
    }
}
@keyframes anim4 {
    0%{
        
    }
    10%{
        
    }
    18%{
        
        transform: rotate(1deg); 
    }
    20%{
        
        transform: rotate(1deg); 
    }
    23%{
        
        transform: rotate(-6deg); 
    }
    26%{
        
        transform: rotate(3deg); 
    }
    27%{
        
        transform: rotate(0deg); 
    }
    36%{
        
        transform: rotate(0deg); 
    }
    37%{
        
        transform: rotate(5deg); 
    }
    40%{
       
        transform: rotate(3deg); 
    }
    41%{
        
        transform: rotate(0deg); 
    }
    49%{
        
        transform: rotate(0deg); 
    }
    57.5%{
        transform: rotate(-8deg); 
    }
    75%{
        transform: rotate(0deg); 
    }
    85%{
        transform: rotate(8deg); 
    }
    100%{
        transform: rotate(0deg); 
    }
}
@keyframes anime{
    0% {
      width: 30px;
      height: 30px;
      background: #f0f0f0;
      box-shadow:  0 0 0 #cccccc,
                   0 0 0 #ffffff,
                    5px 5px 5px #cccccc inset,
                    -5px -5px 5px #ffffff inset;
    }
    25% {
      width: 30px;
      height: 30px;
      background: #f8f8f8;
      box-shadow:  0px 9px 10px 0px #2b2b2b;
    }
    50% {
      width: 180px;
      height: 30px;
      background: #f8f8f8;
      box-shadow:  0px 9px 10px 0px #2b2b2b;
    }
    100% {
      width: 180px;
      height: 30px;
      background: #fafafa;
      box-shadow:  0px 9px 10px 0px #2b2b2b;
    }
}
@keyframes arrow_anim{
    0% {
        margin-top: 5px;
    }
    100% {
        margin-top: 8px;
    }
}
@keyframes anime2{
    0%{

    }
    10% {
        margin-top: 25px;
    }
    25% {
        margin-top: 25px;
        width: 60px;
        height: 60px;
        background: #E0BE42;
        box-shadow:  5px 5px 5px 0px #49494988;
    }
    50% {
        margin-top: 25px;
        width: 60px;
        height: 240px;
        background: #E0BE42;
        box-shadow:  5px 5px 5px 0px #49494988;
    }
    100% {
        margin-top: 25px;
        width: 590px;
        height: 240px;
        background: #E0BE42;
        box-shadow:  5px 5px 5px 0px #49494988;
    }
}
@keyframes main1-anim{
    0%{
        position: absolute;
        opacity: 0;
        pointer-events: none;
        left: 1%;
    }
    10% {
        position: absolute;
        opacity: 0;
        pointer-events: none;
        left: 1%;
    }
    25% {
        position: absolute;
        opacity: 0;
        pointer-events: none;
        left: 1%;
    }
    50% {
        position: absolute;
        opacity: 0;
        pointer-events: none;
        left: 1%;
    }
    60% {
        position: absolute;
        opacity: 0;
        pointer-events: none; 
    }
    70% {
        position: absolute;
        opacity: 0;
        pointer-events: none; 
        margin-left: 40px;
    }
    80% {
        position: relative;
        opacity: 0;
        pointer-events: none; 
        transition: 0.3s;
        margin-left: 60px;
    }
    90% {
        position: relative;
        opacity: 1;
        pointer-events: none; 
        transition: 0.3s;
        margin-left: 20px;
    }
    100% {
        position: relative;
        opacity: 1;
        pointer-events: all;
        transition: 0.3s;
        margin-left: 20px;
    }
}
@keyframes main1_h1_anim{
    0% {
        color: #fff7d9a3;
    }
    24% {
        color: #fff7d9a3;
    }
    25% {
        color: white;
    }
    30%{
        color: #fff7d9a3;
    }
    49%{
        color: #fff7d9a3;
    }
    50% {
        color: white;
    }
    51%{
        color: #fff7d9a3;
    }
    53% {
        color: white;
    }
    75% {
        color: #fff7d9a3;
    }
    100% {
        color: #fff7d9a3;
    }
}
@keyframes main3_anim{
    0%{
    }
    25% {
        width: 75px;
        height: 60px;
        background: #7984CF;
        box-shadow:  5px 5px 5px 0px #49494988;
    } 
    100% {
        width: 590px;
        background: #7984CF;
        box-shadow:  5px 5px 5px 0px #49494988;
    }
}
@keyframes main3_icon{
    0% {
        background-color: #959CCE;
        box-shadow:  0px 0px 10px 0px #161616;
    }
    24% {
        background-color: #959CCE;
        box-shadow:  0px 0px 10px 0px #161616;
    }
    25% {
        background-color: #dcdcdc;
        box-shadow:  0px 0px 10px 0px #dcdcdc;
    }
    29% {
        background-color: #dcdcdc;
        box-shadow:  0px 0px 10px 0px #dcdcdc;
    }
    30%{
        background-color: #959CCE;
        box-shadow:  0px 0px 10px 0px #161616;
    }
    49%{
        background-color: #959CCE;
        box-shadow:  0px 0px 10px 0px #161616;
    }
    50% {
        background-color: #dcdcdc;
        box-shadow:  0px 0px 10px 0px #dcdcdc;
    }
    55% {
        background-color: #dcdcdc;
        box-shadow:  0px 0px 10px 0px #dcdcdc;
    }
    60%{
        background-color: #959CCE;
        box-shadow:  0px 0px 10px 0px #161616;
    }
    62% {
        background-color: #dcdcdc;
        box-shadow:  0px 0px 10px 0px #dcdcdc;
    }
    100% {
        background-color: #dcdcdc;
        box-shadow:  0px 0px 10px 0px #dcdcdc;
    }
}
@keyframes main3_icon2{
    0% {
        filter: brightness(0.8);
    }
    24% {
        filter: brightness(0.8);
    }
    25% {
        filter: brightness(1);
    }
    29%{
        filter: brightness(1);
    }
    30%{
        filter: brightness(0.8);
    }
    49%{
        filter: brightness(0.8);
    }
    50% {
        filter: brightness(1);
    }
    55%{
        filter: brightness(1);
    }
    60% {
        filter: brightness(0.8);
    }
    62%{
        filter: brightness(1);
    }
    74%{
        filter: brightness(1);
    }
    100% {
        filter: brightness(1);
    }
}
@keyframes main3_h{
    0% {
        color: #5b5b5b;
    }
    24% {
        color: #5b5b5b;
    }
    25% {
        color: #dcdcdc;
    }
    29%{
        color: #dcdcdc;
    }
    30%{
        color: #5b5b5b;
    }
    49%{
        color: #5b5b5b;
    }
    50% {
        color: #dcdcdc;
    }
    55%{
        color: #dcdcdc;
    }
    60% {
        color: #5b5b5b;
    }
    62%{
        color: #dcdcdc;
    }
    74%{
        color: #dcdcdc;
    }
    100% {
        color: #dcdcdc;
    }
}
@keyframes main3_h1_anim{
    0% {
        color: #BCBED2;
    }
    24% {
        color: #BCBED2;
    }
    25% {
        color: white;
    }
    30%{
        color: #BCBED2;
    }
    49%{
        color: #BCBED2;
    }
    50% {
        color: white;
    }
    51%{
        color: #BCBED2;
    }
    53% {
        color: white;
    }
    75% {
        color: #BCBED2;
    }
    100% {
        color: #BCBED2;
    }
}
@keyframes main4_block2{
    0% {
        filter: brightness(0.7);
    }
    24% {
        filter: brightness(0.7);
    }
    25% {
        filter: brightness(1);
    }
    30%{
        filter: brightness(0.7);
    }
    49%{
        filter: brightness(0.7);
    }
    50% {
        filter: brightness(1);
    }
    51%{
        filter: brightness(0.7);
    }
    53% {
        filter: brightness(1); 
    }
    75% {
        filter: brightness(0.7);
    }
    100% {
        filter: brightness(1);
    }
}
