
._anim-Show {
    transform: translate(0px, 20px);
    opacity: 0;
    transition: all 0.5s cubic-bezier(0, -0.02, 0.67, 1.27) 0.1s;
}
._anim-Show._active,
._active ._anim-Show{
    opacity: 1;
    transform: translate(0px, 0px);
}