
/*slider*/

.slider{
    position: relative;
    padding: 0px 60px;
}
.slick-track{
    display: flex;
    align-items: flex-start;
}
.slick-list{
    overflow: hidden;
}
.slider .slick-arrow{
    position: absolute;
    top: 50%;
    margin: -30px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 50px;
    height: 50px;
    border: none;
    
}
.slider .slick-arrow.slick-prev{
    left: 0;
    background: url(../images/arrows-l.png) 0 0 / 100% no-repeat;
    
}
.slider .slick-arrow.slick-prev:hover{
    cursor: pointer;
}
.slider .slick-arrow.slick-next{
    right: 0;
    background: url(../images/arrows-r.png) 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next:hover{
    cursor: pointer;
}
.slider .slick-arrow.slick-disabled{
    opacity: 0.2;
}
.slider .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider .slick-dots li{
    list-style: none;
    margin: 0px 10px;
}
.slider .slick-dots button{
    font-size: 0px;
    width: 10px;
    height: 10px;
    background-color: rgb(153, 153, 153);
    border-radius: 60%;
    border: 1px solid rgb(153, 153, 153);
}
.slider .slick-dots li.slick-active button{
    background-color: black;
    border: 1px solid black;
}
.slider-item{
    opacity: 1;
    text-align: center;
    transition: 0.4s;
}
.slider-item.slick-center{
    transition: 0.5s;
    opacity: 1;
}