/*header*/

.header{
    background-image: url(../images/header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    height: 753px;   
}
.header-content{
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    padding-top: 30px;
    position: relative;
    z-index: 10;
}
.nav{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 25px;
}
.nav-link{
    text-decoration: none;
}
.nav-p{   
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(11, 55, 92);
    font-weight: bold;
    line-height: 1.89;
    transition: 0.3s;
}
.nav-p:hover{
    color: rgb(34, 107, 167);
    transition: 0.3s;
    cursor: pointer;
}
.header-h1{
    font-size: 45px;
    font-family: 'Bebas Neue', cursive;
    color: rgb(11, 55, 92);
    font-weight: 500;
    letter-spacing: 5px;
}
.header-h2{
    font-size: 98px;
    font-family: 'Bebas Neue', cursive;
    color: rgb(11, 55, 92);
    font-weight: 500;
    line-height: 70px;
}
.header-h3{
    font-size: 118px;
    font-family: 'Bebas Neue', cursive;
    color: rgb(11, 55, 92);
    font-weight: 500;
    line-height: 90px;
    margin-top: 10px;
}
.header-p1{
    font-size: 31px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(11, 55, 92);
    font-weight: 600;
    line-height: 33px;
    margin-top: 5px;
}
.header-p2{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(11, 55, 92);
    font-weight: 600;
    width: 38%;
    margin-top: 10px;
}
.logo{
    width: 55px;
    height: 60px;
}
.header-content-block1{
    display: flex;
}
.header-content-block1-block1{
    margin-top: 70px;
}
.header-img{
    width: 500px;
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top: 23px;
    z-index: 1;
}
.header-button-link{
    text-decoration: none;
}
.header-button{
    border-radius: 21px;
    background-color: rgb(24, 108, 177);
    box-shadow: 0px 4px 42px 0px rgba(3, 3, 3, 0.2);
    width: 153px;
    height: 43px;
    border: none;
    color: white;
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding-bottom: 5px;
    margin-top: 20px;
    transition: 0.3s;
}
.header-button:hover{
    cursor: pointer;
    background-color: rgb(41, 130, 203);
    transition: 0.3s;
}