/*main2*/ 

.main2{
    background-image: url(../images/main2-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 80px;
}
.main2-content{
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 80px;
}
.main2-h1{
    font-size: 98px;
    font-family: 'Bebas Neue', cursive;
    color: rgb(11, 55, 92);
    font-weight: 500;
    line-height: 90px;
}
.main2-p1{
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(11, 55, 92);
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 2px;
}
.main2-button-link{
    text-decoration: none;
}
.main2-button{
    border-radius: 21px;
    background-color: rgb(24, 108, 177);
    box-shadow: 0px 4px 42px 0px rgba(3, 3, 3, 0.2);
    width: 153px;
    height: 43px;
    border: none;
    color: white;
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding-bottom: 5px;
    margin-top: 18px;
    transition: 0.3s;
}
.main2-button:hover{
    cursor: pointer;
    background-color: rgb(41, 130, 203);
    transition: 0.3s;
}