/*main3*/

.main3{
    background-image: url(../images/main3-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 90px;
}
.main3-content{
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 90px;
}
.main3-content-block1{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.main3-content-block1-block1{
    text-align: center;
}
.main3-content-block1-block2{
    text-align: center;
}
.main3-content-block1-block3{
    text-align: center;
}
.main3-h1{
    font-size: 48px;
    font-family: 'Fredoka One', cursive;;
    color: rgb(11, 55, 92);
    font-weight: 500;
    line-height: 45px;
    text-align: center;
}
.main3-h2{
    font-size: 25px;
    font-family: 'Fredoka One', cursive;;
    font-weight: 500;
    color: rgb(11, 55, 92);
    margin-top: 10px;
} 
.main3-h3{
    font-size: 25px;
    font-family: 'Fredoka One', cursive;;
    font-weight: 500;
    color: rgb(11, 55, 92);
    margin-top: 10px;
} 
.main3-h4{
    font-size: 25px;
    font-family: 'Fredoka One', cursive;;
    font-weight: 500;
    color: rgb(11, 55, 92);
    margin-top: 10px;
} 
.main3-p1{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(11, 55, 92);
    font-weight: 600;
    line-height: 30px;
    margin-top: 20px;
    max-width: 400px;
}
.main3-p2{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(11, 55, 92);
    font-weight: 600;
    line-height: 30px;
    margin-top: 20px;
    max-width: 400px;
}
.main3-p3{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(11, 55, 92);
    font-weight: 600;
    line-height: 30px;
    margin-top: 20px;
    max-width: 400px;
}