/*main5*/

.main5{
    background-color: #c5dbed;
}
.main5-content{
    width: 95%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.main5-img{
    width: 600px;
    margin-top: 40px;
}
.main5-block1{
    width: 500px;
    margin-top: 90px;
}
.main5-h1{
    font-size: 45px;
    font-family: 'Bebas Neue', cursive;
    color: rgb(11, 55, 92);
    font-weight: 500;
    letter-spacing: 5px;
}
.main5-h2{
    font-size: 98px;
    font-family: 'Bebas Neue', cursive;
    color: rgb(11, 55, 92);
    font-weight: 500;
    line-height: 70px;
}
.main5-h3{
    font-size: 118px;
    font-family: 'Bebas Neue', cursive;
    color: rgb(11, 55, 92);
    font-weight: 500;
    line-height: 90px;
    margin-top: 10px;
}
.main5-p1{
    font-size: 31px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(11, 55, 92);
    font-weight: 600;
    line-height: 33px;
    margin-top: 5px;
}
.main5-p2{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(11, 55, 92);
    font-weight: 600;
    width: 100%;
    margin-top: 10px;
}
.main5-button-link{
    text-decoration: none;
}
.main5-button{
    border-radius: 21px;
    background-color: rgb(24, 108, 177);
    box-shadow: 0px 4px 42px 0px rgba(3, 3, 3, 0.2);
    width: 153px;
    height: 43px;
    border: none;
    color: white;
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding-bottom: 5px;
    margin-top: 20px;
    transition: 0.3s;
}
.main5-button:hover{
    cursor: pointer;
    background-color: rgb(41, 130, 203);
    transition: 0.3s;
}