/*main1*/

.main1{
    background-color: #eaf6ff;
    padding-bottom: 60px;
}
.main1-content{
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}
.main1-content-block2{
    width: 50%;
    text-align: end;
    margin-top: 80px;
}
.main1-content-block1{
    width: 50%;
}
.main1-h1{
    font-size: 70px;
    font-family: 'Fredoka One', cursive;;
    color: rgb(11, 55, 92);
    font-weight: 500;
    line-height: 65px;
    letter-spacing: 5px;
}
.main1-h2{
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(11, 55, 92);
    font-weight: 600;
    margin-top: 20px;
}
.main1-line1{
    width: 75%;
    height: 2px;
    background-color: rgb(249, 149, 94);
    margin-top: 30px;
}
.main1-p1{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(11, 55, 92);
    width: 100%;
    margin-top: 28px;
    letter-spacing: 2px;
}
.main1-h3{
    font-size: 30px;
    font-family: 'Fredoka One', cursive;;
    font-weight: 500;
    letter-spacing: 5px;
    color: rgb(249, 149, 94);
}
.main1-img{
    width: 370px;
    margin-top: 10px;
}