/*main7*/

.main7{
    background-image: url(../images/main7-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}
.main7-content{
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.main7-content-block2{
    margin-left: 50px;
    margin-top: 90px;
}
.main7-h1{
    font-size: 35px;
    font-family: 'Fredoka One', cursive;;
    font-weight: 500;
    color: rgb(61, 156, 234);
    margin-top: 70px;
}
.main7-h2{
    font-size: 50px;
    font-family: 'Fredoka One', cursive;;
    color: rgb(11, 55, 92);
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 5px;
    width: 80%;
}
.main7-p1{
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(11, 55, 92);
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 2px;
    margin-top: 30px;
}
.main7-line{
    background-color: #f6a87e;
    height: 2px;
    width: 430px;
    margin-top: 20px;
}
.main7-p2{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(11, 55, 92);
    width: 100%;
    margin-top: 20px;
    letter-spacing: 3px;
    width: 80%;
}
.main7-img2{
    margin-top: 70px;
}