
/*adaptation*/

@media screen and (max-width: 2220px) {
    .main4-img{
        margin-right: 10%;
    }
}
@media screen and (max-width: 1750px) {
    .main4-img{
        margin-right: 5%;
    }
    .main5-content{
        margin: 0;
    }
}
@media screen and (max-width: 1444px) {
    .main8-h1{
        width: 80%;
    }
}
@media screen and (max-width: 1350px) {
    .header{
        background-position: 0% 0%;
    }
    .header-p2{
        width: 50%;
    }
    .main7-h2{
        width: 100%;
    }
    .main7-p2{
        width: 100%;
    }
}
@media screen and (max-width: 1300px) {
    .main6-content{
        width: 90%;
    }
    .main8-h1{
        width: 100%;
    }
}
@media screen and (max-width: 1224px) {
    .main4-img{
        width: 480px;
        margin-top: 245px;
    }
}
@media screen and (max-width: 1100px) {
    .main1-content-block2{
        position: absolute;
        right: 5%;
        width: 80%;
        opacity: 0.5;
    }
    .main1-content-block1{
        width: 70%;
        position: relative;
        z-index: 10;
    }
    .main4-img{
        opacity: 0.5 !important;
        margin-top: 80px;
    }
    .main4-content-block1{
        display: block;
        width: 100%;
        z-index: 10;
        position: relative;
    }
    .main4-content-block1-block1{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .main4-content-block1-block1-block1{
        display: block;
    }
    .main4-content-block1-block1-block2{
        display: block;
    }
    .main4-content-block1-block1-block3{
        display: block;
    }
    .main4-img2{
        margin-top: 0px;
    }
    .main4-content-block1-block1-block3{
        margin-top: 0px;
    }
    .main4-content-block1-block2{
        width: 100%;
        margin-top: 120px;
    }
    .main4-h1{
        z-index: 10;
    }
    .main5{
        padding-bottom: 98px;
    }
    .main5-img{
        position: absolute;
        opacity: 0.3 !important;
    }
    .main5-block1{
        z-index: 10;
        margin-left: 5%;
    }
    .main6-content-block1{
        overflow-x: auto;  
        height: 610px;  
    }
    .main7-content{
        display: block;
    }
    .main7-content-block1{
        display: flex;
        width: 100%;
    }
    .main7-content-block2{
        margin-left: 0px;
    }
    .main7-img1{
        height: 240px;
    }
    .main7-img2{
        display: none;
    }
    .main7-h1 br{
        display: none;
    }
    .main7-h1{
        margin-left: 30px;
    }
    .main8-h1{
        font-size: 30px;
        letter-spacing: 1px;
    }
    .footer-content-block2{
        width: 80%;
    }
    .footer-p1{
        width: 80%;
    }
}
@media screen and (max-width: 1000px) {
    .main6-content-block1-block2{
        margin-left: 50px;
    }
    .main6-content-block1-block3{
        margin-left: 50px;
    }
    .main6-p1{
        width: 120%;
    }
    .nav{
        width: 80%;
    }
    .header-content-block1-block1{
        z-index: 10;
    }
    .header-img{
        opacity: 0.5 !important;
    }
    .header-p2{
        width: 80%;
    }
    .main3-content-block1{
        overflow-x: auto;
        height: 370px;
    }
    .main3-content-block1-block1{
        text-align: left;
    }
    .main3-content-block1-block2{
        margin-left: 150px;
        text-align: left;
    }
    .main3-content-block1-block3{
        margin-left: 150px;
        text-align: left;
    }
    .main3-p1{
        text-align: left;
        width: 150%;
    }
    .main3-p2{
        text-align: left;
        width: 150%;
    }
    .main3-p3{
        text-align: left;
        width: 150%;
    }
}
@media screen and (max-width: 950px) {
    .main4-h1{
        font-size: 50px;
    }
    .main4-content-block1-block1{
        display: block;
    }
    .main4-content-block1-block1-block1{
        display: flex;
    }
    .main4-content-block1-block1-block2{
        display: flex;
    }
    .main4-content-block1-block1-block3{
        display: flex;
    }
    .main4-content-block1-block1 {
        margin-top: 40px;
    }
    .main4-content-block1-block2{
        margin-top: 40px;
    }
    .main1-h3{
        display: none;
    }
}
@media screen and (max-width: 840px) {
    .footer-content{
        display: block;
    }
    .main1-content-block1{
        width: 100%;
    }
}
@media screen and (max-width: 700px) {
    .main2-h1{
        font-size: 80px;
    }
    .main4-h1{
        font-size: 40px;
    }
    .main5-img{
        width: 500px;
        margin-top: 150px;
    }
    .main7-content-block1{
        display: block;
    }
    .main7-h1{
        margin-left: 0px;
        margin-top: 30px;
    }
    .main7-content-block2{
        margin-top: 30px;
    }
    .main8-h1{
        font-size: 25px;
        line-height: 30px;
    }
    .main8{
        height: 400px;
    }
    .main8-img{
        margin-top: 60px;
    }
}
@media screen and (max-width: 630px) {
    .header-p2{
        width: 100%;
    }
    .main6-h1{
        font-size: 30px;
    }
}
@media screen and (max-width: 580px) {
    .main4-h1{
        font-size: 30px;
        line-height: 35px;
    }
    .main4-img{
        width: 370px;
    }
    .main5-img{
        width: 450px;
        margin-top: 205px;
    }
    .main2-h1{
        font-size: 60px;
        line-height: 60px;
    }
    .main4-img1{
        width: 140px;
        margin-top: 18px;
    }
    .main4-img2{
        width: 140px;
        height: 140px;
        margin-top: 30px;
    }
    .main4-img3{
        width: 140px;
        margin-top: 20px;
    }
    .main4-content-block1-block1-block1-block {
        margin-left: 10px;
    }
    .main4-content-block1-block1-block2-block {
        margin-left: 10px;
    }
    .main4-content-block1-block1-block3-block {
        margin-left: 10px;
    }
    .main4-content-block1-block1-block2{
        margin-top: 20px;
    }
    .main4-content{
        width: 95%;
    }
    .main7-h2{
        font-size: 40px;
        line-height: 40px;
    }
}
@media screen and (max-width: 500px) {
    .header-img{
        width: 420px;
        margin-top: 140px;
    }
    .main1-h1{
        font-size: 50px;
        line-height: 50px;
    }
    .main5-img{
        width: 400px;
        margin-top: 287px;
    }
    .main7-line{
        width: 320px;
    }
    .main6-h1{
        font-size: 25px;
    }
}
@media screen and (max-width: 450px) {
    .main8-img{
        width: 60px;
    }
    .main7-h1{
        font-size: 30px;
    }
    .main1-img{
        width: 320px;
    }
    .main4-p{
        font-size: 18px;
    }
}
@media screen and (max-width: 425px) {
    .logo{
        width: 45px;
        height: 50px;
    }
    .nav-p{
        font-size: 15px;
    }
    .nav{
        padding-top: 10px;
    }
    .header-h3{
        font-size: 103px;
    }
    .header-content-block1-block1{
        margin-top: 30px;
    }
    .header-img{
        width: 370px;
        margin-top: 212px;
    }
    .main1-img{
        width: 280px;
    }
    .main1-p1{
        font-size: 26px;
    }
    .main2-h1{
        font-size: 50px;
    }
    .main2-p1{
        font-size: 23px;
        line-height: 35px;
    }
    .main3-h1{
        font-size: 40px;
    }
    .main3-content-block1-block2{
        margin-left: 100px;
    }
    .main3-content-block1-block3{
        margin-left: 100px;
    }
    .main4-h1{
        font-size: 28px;
        letter-spacing: 1px;
    }
    .main4-img{
        width: 340px;
    }
    .main4-p{
        font-size: 15px;
    }
    .main4-h2{
        font-size: 25px;
    }
    .main5-img{
        width: 370px;
    }
    .main5-h3{
        font-size: 103px;
    }
    .main6-h1{
        letter-spacing: 1px;
    }
    .main6{
        padding-bottom: 55px;
    }
    .main7-h2{
        font-size: 35px;
    }
    .main7-p2{
        font-size: 25px;
    }
}