
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
h1, h2, h3{
    margin: 0px;
}
p:hover{
    cursor: context-menu;
}
h1:hover{
    cursor: context-menu;
}
h2:hover{
    cursor: context-menu;
}

