
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


*{
    margin: 0px;
    padding: 0px;
}
html{
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
    background-color: rgb(217, 217, 217);
}
p:hover{
    cursor: context-menu;
}
h1:hover{
    cursor: context-menu;
}


/*header*/

.mouse-parallax {
    height: 840px;
    position: relative;
    overflow: hidden;
}
.mouse-parallax-bg {
    position: absolute;
    background-image: url(images/header-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 110%;
    height: 110%;
    transition: all 0.1s ease;  
}
.navbar{
    position: relative;
    width: 80%;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
nav{
    display: flex;
    padding-top: 10px;
}
a{
    text-decoration: none;
}
.logo{
    width: 50px;
    filter: invert();
}
.nav-p{
    color: white;
    font-family: 'Inria Sans', sans-serif;
    margin-left: 20px;
    font-size: 17px;
    transition: 0.4s;
}
.nav-p:hover{
    color: rgb(211, 211, 211);
    transition: 0.4s;
    cursor: pointer;
}
.content1-1{
    top: 200px;
    position: relative;
    width: 80%;
    max-width: 1500px;
    margin: 0 auto;
    pointer-events: none;
}
.content1-1-h1{
    font-family: 'Indie Flower', cursive;
    color: white;
    font-weight: 400;
    font-size: 60px;
    pointer-events: all;
    display: inline-block;
}
.content1-1-p1{
    font-family: 'Inria Sans', sans-serif;
    color: #CECECE;
    pointer-events: all;
    width: 48%;
    max-width: 500px;
    margin-top: 8px;
}
.header-button-link{
    text-decoration: none;
}
.button1{
    margin-top: 35px;
    width: 250px;
    height: 40px;
    font-size: 20px;
    background-color: #87DACB;
    color: black;
    text-align: center;
    font-family: 'Inria Sans', sans-serif;
    border-radius: 50px;
    padding-top: 10px;
    transition: 0.3s;
    pointer-events: all;
}
.button1:hover{
    cursor: pointer;
    background-color: #609d91;
    transition: 0.3s;
}

/*main1*/

.main1{
    background-color: #EBEBEB;
    padding-bottom: 50px;
}
.content2-1{
    width: 80%;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.content2-1-div1{
    display: flex;
    z-index: 5;
}
.content2-1-div2{
    margin-top: 130px;
}
#divForimg1{
    background-image: url(images/main1-img1.jpg);
    object-fit: cover;
    z-index: 5;
}
#divForimg2{
    background-image: url(images/main1-img2.jpg);
    object-fit: cover;
    z-index: 5;
}
#divForimg3{
    background-image: url(images/main1-img3.jpg);
    object-fit: cover;
    z-index: 5;
}
#divForimg4{
    background-image: url(images/main1-img4.jpg);
    object-fit: cover;
    z-index: 5;
}
#divForimg5{
    background-image: url(images/main1-img5.jpg);
    object-fit: cover;
    z-index: 5;
}
#divForimg6{
    background-image: url(images/main1-img6.jpg);
    object-fit: cover;
    z-index: 5;
}
.divForImg{
    width: 50px;
    height: 400px;
    border-radius: 50px;
    margin-left: 5px;
    transition: 0.8s;
}
.divForImg:hover{
    cursor: pointer;
    width: 600px;
    box-shadow: 0px 0px 20px 5px rgb(77, 77, 77);
}
.divForimg1-img1{
    filter: invert();
    width: 30px;
    margin-top: 10px;
    margin-left: 9.5px;
}
.decoreElement1{
    width: 2px;
    height: 40px;
    background-color: white;
    margin-top: 280px;
    margin-left: 25px;
}
.divForImg{
    display: flex;
}
.textInFoto1{
    opacity: 0;
    color: white;
    margin-top: 284px;
    margin-left: 30px;
    transition: 0.3s;
    pointer-events: none;
}
.textInFoto1.active{
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.2s;
    margin-left: 10px;
}
.textInFoto2{
    opacity: 0;
    color: white;
    margin-top: 284px;
    margin-left: 30px;
    transition: 0.3s;
    pointer-events: none;
}
.textInFoto2.active{
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.2s;
    margin-left: 10px;
}
.textInFoto3{
    opacity: 0;
    color: white;
    margin-top: 284px;
    margin-left: 30px;
    transition: 0.3s;
    pointer-events: none;
}
.textInFoto3.active{
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.2s;
    margin-left: 10px;
}
.textInFoto4{
    opacity: 0;
    color: white;
    margin-top: 284px;
    margin-left: 30px;
    transition: 0.3s;
    pointer-events: none;
}
.textInFoto4.active{
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.2s;
    margin-left: 10px;
}
.textInFoto5{
    opacity: 0;
    color: white;
    margin-top: 284px;
    margin-left: 30px;
    transition: 0.3s;
    pointer-events: none;
}
.textInFoto5.active{
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.2s;
    margin-left: 10px;
}
.textInFoto6{
    opacity: 0;
    color: white;
    margin-top: 284px;
    margin-left: 30px;
    transition: 0.3s;
    pointer-events: none;
}
.textInFoto6.active{
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.2s;
    margin-left: 10px;
}
.textInFoto-h1{
    font-family: 'Indie Flower', cursive;
}
.textInFoto-p1{
    font-family: 'Indie Flower', cursive;
}
.main1-h1{
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
}
.main1-p1{
    font-family: 'Inria Sans', sans-serif;
    text-align: end;
}

/*main2*/

.main2{
    background-color: #f1f1f1;
    padding-bottom: 150px;
}
.content3-1{
    width: 70%;
    max-width: 1500px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}
.content3-2{
    width: 70%;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.content3-3{
    width: 70%;
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.content3-4{
    width: 70%;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: end;
    margin-top: 100px;
}
.content3-2-div{
    width: 40%;
    text-align: end;
    margin-top: 230px;
}
.content3-3-div{
    width: 40%;
    margin-top: 100px;
}
.content3-4-div{
    width: 40%;
    margin-top: 20px;
    text-align: end;
}
.main2-img1{
    width: 400px;
}
.main2-img2{
    width: 400px;
}
.main2-img3{
    width: 300px;
    height: 200px;
    transform: rotate(90deg);
}
.main2-h1{
    font-family: 'Indie Flower', cursive;
    color: black;
    font-size: 38px;
}
.main2-h2{
    font-family: 'Indie Flower', cursive;
    color: #AD7E06;
}
.main2-h3{
    font-family: 'Indie Flower', cursive;
    color: #AD7E06;
}
.main2-h4{
    font-family: 'Indie Flower', cursive;
    color: #AD7E06;
}
.main2-p1{
    font-family: 'Inria Sans', sans-serif;
    color: rgb(64, 64, 64);
}
.main2-p2{
    font-family: 'Inria Sans', sans-serif;
    color: rgb(29, 29, 29);
}
.main2-p3{
    font-family: 'Inria Sans', sans-serif;
    color: rgb(29, 29, 29);
}
.main2-p4{
    font-family: 'Inria Sans', sans-serif;
    color: rgb(29, 29, 29);
}

/*main3*/

.main3{
    height: 400px;
    background-image: url(images/main3-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.content4-1{
    width: 50%;
    max-width: 1500px;
    margin: 0 auto;
    text-align: center;
    padding-top: 140px;
}
.main3-h1{
    font-family: 'Indie Flower', cursive;
    color: white;
    font-size: 40px;
}
.main3-p1{
    font-family: 'Inria Sans', sans-serif;
    color: rgb(224, 224, 224);
    max-width: 700px;
    margin: 0 auto;
}

/*footer*/

.footer{
    background-color: rgb(46, 46, 46);
    padding-bottom: 26px;
}
.footer-content{
    width: 80%;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
}
.footer-a1{
    text-decoration: none;
}
.footer-h1{
    font-family: 'Indie Flower', cursive;
    color: white;
    font-weight: 400;
    font-size: 35px;
}
.footer-icons{
    padding-top: 5px;
}
.footer-img1{
    margin-right: 5px;
}
.footer-img2{
    margin-right: 5px;
}